<div class="container nav-container">
  <div class="row">
    <ul class="nav nav-pills nav-justified">
      <li role="presentation nav-pill" class="{{#if active_info}}active{{/if}} nav-pill"><a href="/info">Wedding Info</a></li>
      <li role="presentation nav-pill" class="{{#if active_home}}active{{/if}} nav-pill"><a href="/">Home</a></li>
      <li role="presentation nav-pill" class="{{#if active_us}}active{{/if}} nav-pill"><a href="/us">The Story</a></li>
      <li role="presentation nav-pill" class="{{#if active_engagement}}active{{/if}} nav-pill"><a href="/engagement">Engagement</a></li>
      <li role="presentation nav-pill" class="{{#if active_registry}}active{{/if}} nav-pill" ><a href="/registry">Registry</a></li>
    </ul>
  </div>
</div>
