<div class="container nav-container">
  <div class="row">
    <ul class="nav nav-pills nav-justified">
      <li role="presentation nav-pill" class="active"><a href="#">Home</a></li>
      <li role="presentation nav-pill"><a href="#">Info</a></li>
      <li role="presentation nav-pill"><a href="#">Registry</a></li>
    </ul>
  </div>
</div>
