<div class="center">
  <div class="row">
    <h1 class="salsabilla padding-bottom-30 move-up h1-text-size adjust-right">Engagement</h1>
  </div>
  <div id="photo-container" class="row margins">

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content photo-container">
      <img id="modal-image" src="" alt=""/>
    
    </div>
  </div>
</div>


<script src="javascripts/engagement.js"></script>

<!--<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div>
         <div class="photo-container">
            <img id="modal-image" src="" alt=""/>
        </div> 
      </div>-->