<div class="center">
  <div class="row">
    <h1 class="salsabilla padding-bottom-30 move-up h1-text-size adjust-right">Engagement</h1>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="" alt="..."/>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="" alt="..."/>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="" alt="..."/>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="" alt="..."/>
        </a>
      </div>
  </div>
  <div id="photo-container" class="row">

  </div>
</div>

<script src="javascripts/engagement.js"></script>
