<div class="center">
  <div class="row">
    <h1 class="salsabilla padding-bottom-30 move-up h1-text-size">Save the date</h1>
    <h1 class="gotham-thin padding-bottom-30 h1-text-size">ANGELIQUE & KEEGAN</h1>
    <h3 class="salsabilla padding-bottom-15 h3-text-size">are getting married</h3>
    <h4 class="salsabilla padding-bottom-15 h4-text-size">May 26th, 2017</h4>
    <span class="span-text-size">HONOLULU, HAWAII</span>
  </div>
</div>
