<div class="center">
  <div class="row">
    <h1 class="salsabilla padding-bottom-30 move-up h1-text-size adjust-right">Wedding Info</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img src="{{logoPath}}" class="info-pic" />
    </div>
  </div>

  <div class="row padding-top-10">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="col-xs-8">
        <h3 class="left"> The Venue</h3>
        <h3 class=" gotham-thin left">Hale Moli'i Gardens<br />
        49-345 Kamehameha Hwy, Kaneohe, HI 96744</h3>
      </div>
      <div class="col-xs-4">
        <img src="{{mapPath}}" class="map-logo"/>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
      <p class="padding-top-20 left">
      Please plan for outdoor weather and ladies please wear lawn friendly shoes.<br />
      Please select 'Hale Molii' on Google Maps.
      </p>
    </div>
  </div>
  <div class="row padding-top-10">
    <div class="col-xs-10 col-xs-offset-1">
        <h3 class="left"> Directions</h3>
        <h3 class="gotham-thin left"> From Kailua</h3>
        <p class="left">
        From Kailua, head towards Kualoa Ranch and North Shore on Kamehameha Hwy. When you see a sign that reads 'Kualoa Ranch 1 mile', the venue will be half a mile on your right hand side. Look for the balloons gretting the entrance that says private 'kapu'. Turn into this driveway and follow the gravel road to Moli'i Gardens.</p>
        <h3 class="gotham-thin left"> From North Shore</h3>
        <p class="left">
        From the North Shore, head towards Kailua on Kamehameha Hwy. After passing Kualoa Ranch on your right-hand side, continue around the bend for a quarter mile. Look for the balloons greeting the entrance of a private driveway on your left. Turn down this driveway and follow the gravel road towards Moli'i Gardens.</p>

    </div>
  </div>
  <div class="row">

  </div>

</div>
