<div class="center adjust-right">
  <div class="row">
    <h1 class="salsabilla padding-bottom-30 move-up h1-text-size ">The Proposal</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img src="{{imgpath}}" class="info-pic" />
    </div>
  </div>
    <p class="main-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ratione recusandae iusto aut, vero incidunt consequuntur natus maxime adipisci voluptate esse culpa, totam non. Ea modi provident, sit fugit sunt.</p>
</div>
