<div class="center">
  <div class="row">
    <h1 class="salsabilla padding-bottom-30 move-up h1-text-size">Registry</h1>
  </div>
  <div class="row main-content">
    <div class="col-xs-12 col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae voluptatum quisquam unde similique ipsam perferendis laborum fuga, laboriosam, illo harum ea placeat, cum dolorem, adipisci voluptate accusamus nobis consequatur. Ipsa.</p>
    </div>
    <div class="col-xs-12 col-sm-8">
      <img src="{{{imgpath}}}" class="map"/>
    </div>
  </div>
</div>
