<div class="center adjust-right">
  <div class="row">
    <h1 class="salsabilla padding-bottom-30 move-up h1-text-size">The Story</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img class="us-image"src="{{usPath}}" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <p class="story-text">
        Angelique & Keegan met for the first time 8 years ago. She was a hostess and he was a bus boy at a favorite local italian restaurant, Assaggios. They worked together for a few years before becoming good friends and often hanging out with co-workers and mutual friends. As each work day passed they grew closer and eventually Keegan worked up the courage to ask her out on a date. With normal Keegan fashion, he remained calm and cool and devised a plan for not him, but his co-worker to pick-up Angelique and bring her to a mutual party. Of course he could not seem too eager and needed to play his cards just right! When she arrived, Keegan put on his cool moves- compliments, laughs, and letting her win at pool just to name a few! The next week, one of Angelique's best friends and mutual coworker said to Keegan 'What did you do to my friend...
        </p>
        <br />
         <h3 class="gotham-thin right story-highlight">'Why is she suddenly so in love with you?!'</h3>
        <br />
        <br />
        <p class="story-text">Over the next few months the couple fell further and harder for one another. Hanging out every night after work and becoming best friends. All the while, keeping their involvment a secret from their manager. A few months passed before Angelique spilled the beans by proclaiming 'UGH, BABE!' to Keegan right infront of him! Their manager laughed and said 'I guess that's out now' as he had known all along. Although unspoken, both agree there were many moments of wonder about their future together as They truly just enjoyed each others company.  Finally, and upon their first anniversary, they translated Angelique's famous 'I like you more than I like you' into...</p>
        <br />
        <h3 class="gotham-thin story-highlight">'I love you.'</h3>
        <p class="story-text">
        <br />
        <br />
        As the years flew by with vacations, graduations, and more vacations, it was clear to everyone the couple was meant to be. In their fourth year together Keegan suprised Angelique with an out-of-nowhere trip. She came home from work to a suitcase and a note, that read 'pack your bags we leave in 2 hours', with no hint as to where they were going. Angelique's phone filled with gossip as her friends asked...</p>
        <br />
        <h3 class="gotham-thin left story-highlight">'is it finally happening?'</h3>
        <br />
        <br />
        <p class="story-text">
        They landed in San Francisco and spent a few days galavanting the city before the big day. When it came, it was as if nothing could go right. The day-to-be started off rough and the plan unravelled to it's final thread. The couple found themselves driving through Napa Valley at 6:00am an hour away from their hotel and nothing open. With Keegan a bit defeated and out of ideas (a first!), Angelique unknowingly saved the day! Without being aware of the day's occassion, she found the most beautiful waterfall the couple could hike to. With their friends and family in spotty-contact, Keegan informed them of the change of plans, trying to prevent his worst nightmare of someone saying 'Congratulations!' too soon. After a short drive they arrived at the trailhead to find the hike was actually 8 miles long. With only some McDonalds and a small bottle of water Angelique and Keegan said...</p>
        <br />
        <h3 class="gotham-thin story-highlight">'let's go for it.'</h3>
        <br />
        <br />
        <p class="story-text">
        The hike turned out to be fantastic, better than anything Keegan could have planned. The spontaneity, the fear of cougars, and the naked guy who crossed their path all made for a perfect morning. They scaled the cliff in tennis shoes and jeans and arrived at their destination to be greeted by a beautiful waterfall pouring onto the beach. As Angelique took her place next to the waterfall, Keegan sneakly faked a photo and slipped the ring out of his pocket. He dropped to his knee with the ocean to his back and said</p>
        <br />
        <h3 class="gotham-thin right story-highlight">'Will you marry me?'</h3>
        <br />
        <br />
        <p class="story-text">
        Over the roar of the waterfall it was a miracle she heard him (but let's be honest, Keegan was so nervous he practically screamed it at her!). Not a moment passed before Angelique rushed towards him with her hand already out. It was a moment they had both waited for and it was finally here. As Keegan looked up at her, with his knee in the sand he intimately asked her one more time and she said...
        </p>
        <br />
        <h1 class="gotham-thin story-highlight">'Yes!'</h1>
    </div>
  </div>
</div>
