/**FONTS**/
@font-face {
  font-family:'Gotham-Thin';
  src: url('fonts/Gotham-Thin.otf') format("truetype");
}

@font-face {
  font-family:'Salsabilla';
  src: url('fonts/Salsabilla.ttf') format("truetype");
}

body {
  padding: 10px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}


p {
  margin: 10px;
}

.body-text {
  line-height: 150%;
}

.story-text {
  line-height: 1.5;
  color: #6f4727;
}

.us-image {
  min-width: 200px;
  max-width: 50%;
  height: auto;
}

.waterfall-pic {
  mid-width: 200px;
  max-width:60%;
  height:auto;
}

.ring-pic {
  mix-width: 200px;
  max-width: 50%;
  height: auto;
}

.cursive-break {
  background-image: url('../images/cursive-break.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: autp;
}

a {
  color: #FFC79A;
}

a:hover {
  color: #d0a27d;;
}

i:hover {
  color: #d0a27d;;
}


.top-row {
  padding-top: 0px;
}

.bottom-row {
  position: relative;
  bottom: 0;
}

/**Font and Text**/
.gotham-thin {
  font-family: "Gotham-Thin", Arial;
}

.salsabilla {
  font-family: "Salsabilla";
}

.h1-text-size {
  font-size: 1.5em;
}

.h3-text-size {
  font-size: 1.15em;
}

.h4-text-size {
  font-size: 0.9em;
}

.span-text-size {
  font-size: 14px;
}

.inline {
  display: inline;
}

.cart-icon {
  color: #ffc79a;
}

/**Alignment**/
.center {
  text-align: center;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
}

.inherit {
  height: inherit;
}

/**Padding**/
.main-content {
  padding: 20px;
}

.padding-bottom-30 {
  padding-bottom: 20px;
}


.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-10-cart {
  padding-top: 10px;
}

.padding-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-top-100 {
  padding-top: 100px;
}

.move-up {
  margin-top: 10px;
}

/**NAVIGATION**/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #FFC79A;
}

.nav-pills>li>a:hover, .nav-pills>li.active>a:hover {
  background-color: #d0a27d;
  color: #fff;

}

hr {
  border-width: : 1px;
  border-color: #333;
  padding: 0;
  margin-top: 15px;
  text-align: center;
}

.bottom-border {
  height: 50px;
  text-align: center;
  border-bottom: thin solid #333;
}

.side-border {
  border-left: thin solid #333;
  border-right: thin solid #333;

}

/**Flower Placement**/
.flower {
  width: 65px;
  height: 65px;
  background-image: url('../images/upperleftflower.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

#upperleftflower {
}

#upperrightflower {
  -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}

#lowerleftflower {
  -moz-transform: scaleY(-1);
   -o-transform: scaleY(-1);
   -webkit-transform: scaleY(-1);
   transform: scaleY(-1);
   filter: FlipV;
   -ms-filter: "FlipV";
}

#lowerrightflower {
  -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);
}

/**INFO PAGE**/
.info-pic {
  width: 250px;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.map-logo {
  width: 100%;
  height: auto;
}

/**REGISTRY PAGE**/
.map {
  width: inherit;
  height: inherit;
}

.flower-banner {
  width: inherit;
  height: inherit;
}

.shop-column {
  padding: 2px;
}

/**Shop Items**/
.shop-item {
  border: solid #B49E8C;

}

.shop-item-image {
  height: inherit;
  margin-bottom: 10px;
}

.badge {
  background-color: #4A3227;
}

.cart-icon {
  padding-right: 15px;
  float: right;
  margin-top: -50px;
}

.story-highlight {
  color: #e07a92;
}




/*=======*MEDIA QUERIES=======**/


@media (min-width: 768px) {
  .nav-container {
    padding-top: 30px;
  }

  .top-row {
    padding-top: 50px;
  }

  .margin-bottom-30 {
    margin-bottom: 30px;
  }

  .padding-top-10 {
    padding-top: 40px;
  }

  .flower {
    width: 121px;
    height: 121px;
  }

  hr {
    margin-top: 25px;
  }

  .bottom-border {
    height: 100px;
  }

  /**Font Size Increase from XS->SM**/
  .h1-text-size {
    font-size: 2.5em;
  }

  .h3-text-size {
    font-size: 1.3em;
  }

  .h4-text-size {
    font-size: 1.2em;
    padding-bottom: 60px;
  }

  .span-text-size {
    font-size: 18px;
    font-weight: 200;
  }

  .map {
    width: 100%;
    height: atuo;
    margin-top: 45%;
  }

  .align-right {
    text-align: right;
  }

  .info-pic {
    width: 50%;
    height: auto;
  }

  .main-text {
    padding: 20px;
  }

  .vertical-center {
    padding-top: 6%;
  }

  .side-border {
      padding-right: 15px;
  }

  .cart-icon {
    margin-top: 0px;
    padding-right: 30px;
  }

  .move-up {
    margin-top: -20px;
  }

  .btn-margin-left {
    margin-left: 20px;
  }

  .adjust-right {
    padding-left: 15px;
  }

}

@media (min-width: 992px) {
  .map {
    margin-top: 20%;
  }
}

@media (min-width: 1200px) {
  .map {
    margin-top: 6%;
  }
}
