<div class="center">
  <div class="row adjust-right">
    <h1 class=" salsabilla padding-bottom-30 move-up h1-text-size ">Thank you for your purchase!</h1>
    <h3 class=" Gotham-thin padding-bottom-30">the bride & groom have been notified.</h3>
  </div>
</div>
